# node_modules（Next.js用）
frontend/node_modules/
# .next（Next.jsビルドキャッシュ）
frontend/.next/

# Python関連
backend/__pycache__/
backend/env/
backend/.venv/

# その他Python仮想環境
*.pyc
*.pyo
*.pyd

# Macのゴミ
.DS_Store
